.FormGroup {
  display: flex;
  margin-bottom: 4px;
}

.FormGroup > label {
  padding-right: 16px;
  padding-top: 6px;
}

.FormGroup > input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid grey;
}

.FormButton {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid grey;
  background-color: green;
  color: white;
}
